{% extends "layout.html" %}

{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('  {{ url_for('static',filename='img/about-bg.jpg')}}  ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Our Story</h1>
            <span class="subheading">This is what We do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lemme  begin ..</p>
<p> as we all know ML is a deep ocean.. the more we dive the more depth it is,
Forgot about deep learning,!! it's definitely mariana trench. deepest section in the ocean world. 😅 </p>
<p>As me and my friend went through this series  of learning processes , we found out that the more we learn,
  the more we have to learn. Fact though 🤓</p>  and some of the concepts or the articles are written like a thesis..😑 Remember ML requires practise more than your intellect.💪 </p>

<p>Here we publish the articles which may ease your pain by reducing your valuable study time.🧑‍💻</p>

<p>We publish our own articles as well as the articles if the user requests us to publish
in here.🤞</p>
<p>For that user has to contact us by clicking the contact button on your right corner and filling all details and hitting the send button..</p>

<p>So yeah collect all your pieces together,  lets learn.. 🤗 all the best
  To our Practitioners🦸</p> 


        </p>
      </div>
    </div>
  </div>

  <hr>

</html>
{% endblock %}
